body{
    font-family:'Open sans';
    font-size: 20px;
    margin:0;
    padding:10px;
    /* background-color: rgb(73, 138, 71); */
}

.extension-body{
    position:fixed;
    top:10px;
    right:10px;
    padding:20px;
    width:50%;
    max-width: 700px;
    max-height: 500px;
    background-color: rgb(231, 231, 231);
    border:2px solid rgb(105, 105, 105);
    border-radius:5px;
    color:rgb(97, 97, 97);
    overflow-y:auto;
    font-family: 'Open Sans';
}

.extension-content{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.list{
    display:flex;
    flex-direction: column;
}

.list-item{
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.list > div {
    border:1px solid black
}

.suggested-link{
    text-decoration: none;
    color:rgb(56, 70, 95);
}

.close-button{
    background-color: rgb(61, 61, 61);
    color:white;
    border:none;
    z-index: 9999;
    position:fixed; 
    top:0px; 
    right:0px; 
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor:pointer
}